
.main{
    display: flex;
    flex-direction: row;
    gap:20px;
    /* flex-wrap: wrap; */
    /* gap:100px; */
    /* justify-content: center; */
    background-color:burlywood;
}


.nav{
    margin-left: 400px;
    /* margin-bottom: 100px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1000px;
    border: 2px solid red;
    height: 50px;
}


.child{
    margin-top: 200px;
    width: 400px;
    height: 500px;
    border: 2px solid whitesmoke;
    background-color:beige;
    text-align: center;
    border-radius: 30px;
    
}